
h1, h2, h3, h4, h5, h6, h7 { 
  color: yellow;
}

p{
  color:white;
}

.row {
  display: flex;
}

.column {
  flex: 100%;
}

table {
  border: 1px solid;
}

td,th {
  text-align: center;
}

tr:hover {background-color: coral;}